{% extends "index.html" %}

<!-- Could do with some improvement -->

{% block style %}
	<style type="text/css">
		#startup_admin_list li{
			min-height: 100px;
		}
		.admin_unit{
			margin: 20px;
		}
	</style>
{% endblock %}


{% block header %}
	<ul id="startup_admin_list">
		{% for s in startups %}
			<li id="startup_{{s.key.id()}}">

				<div class="admin_unit">
					<img src="{{s.new_logo}}" width="100px">
				</div>

            	<hr>

			</li>
		{% endfor %}
	</ul>
{% endblock %}

{% block companies %}
{% endblock %}

{% block script %}

{% endblock %}

