{% extends "dashboard_base.html" %}

{% block style %}
    .inline{
        display: inline-block;
    }
{% endblock %}

{% block page_name %}
    Emails
{% endblock %}

{% block breadcrumbs %}Startup emails{% endblock %}

{% block main %}
    <div style="padding: 2em">
        {% for s in startups %}
            {% if s.q7 %}
                {{s.q7}},
            {% endif %}
            {% for ss in s.add_emails %}
                {% if ss %}
                {{ss}},
            {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

    <hr>
    {% if next_curs %}
        <a href="/dashboard/startup_emails?cursor={{next_curs}}">Next page</a>
    {% endif %}
{% endblock %}

{% block script %}

    <script type="text/javascript">
    </script>

{% endblock %}
