{% extends "index.html" %}
{% block header %}

	<header class="clearfix">
    	<a href="http://foundedinsouthafrica.com" class="no-link"><img src="/static/images/logo.png" alt="Logo"></a>
        <h1>About Founded in South Africa</h1>
        <span class="about">
            <p>
        	   South Africans are a proud and talented bunch. We stand on our own two feet and are certainly not frightened of a challenge. The motto ’n Boer maak ‘n plan sums this up in quite a pithy way.
           </p>
           <p>
               South Africa - the land of dassies, two oceans and incredibly diverse cultures and peoples - is a fertile market for entrepreneurship and creativity.
            </p>
            <p>
                Notable exports (gold aside) include the brilliant Elon Musk, Mark Shuttleworth and Vinny Lingham; there's no shortage of fresh talent.
            </p>
            <p> 
                South African entrepreneurs operate in a unique market, characterised by a deep digital divide and sizable gap between the haves and have nots. This means that there is no shortage of challenges to overcome and, fortunately, an abundance of bright, young minds to devise innovative solutions.
            </p>
            <p>
                We feel our "Proudly South African" startups don’t get enough attention and we'd like to brag on their behalf.
            </p>

            <p>
                What do all these companies have in common?
            <ol>
            	<li>They were founded in South Africa in the 21st century</li>
                <li>They're on their way to becoming disruptors and game changers</li>
                <li>The founders are awesome</li>
            </ol></p>
            <p>Do you want to support this initiative? You can <a class="typeform-share link" href="/about#join">submit a South African startup</a> that meets these criteria, or follow us on <a href="https://twitter.com/foundedinsa" target="_blank">Twitter</a> to get notifications about new additions.</p>
        </span>
	</header>	

{% endblock %}

{% block companies %}
{% endblock %}