{% extends "index.html" %}

{% block style %}
    <style type="text/css">
        #removed_message{
            height: 0px;
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block header %}

	<header class="clearfix">
    	<a href="http://foundedinsouthafrica.com" class="no-link"><img src="/static/images/logo.png" alt="Logo"></a>
        <h1>Change your Early Adopter email</h1>
        <span class="about">
            <div>
                <a id="change_email" class="link join-button" href="#">Change my email</a>
                <div id="change_email_container" class="transition">
                    <form id="ea_change_form" class="simform" autocomplete="off">
                            <input id="ea_id" name="ea_id" type="hidden" data-validate="no" value="{{ea_id}}"/>
                            <div class="simform-inner">
                                <ol class="questions">
                                    <li>
                                        <input id="ea_new" name="ea_new" type="email" data-validate="yes" placeholder="new email"/>
                                    </li>
                                </ol><!-- /questions -->
                                <button class="submit" type="submit">Change</button>
                                <div class="controls">
                                    <button class="next"></button>
                                    <div class="progress"></div>
                                    <span class="number">
                                        <span class="number-current"></span>
                                        <span class="number-total"></span>
                                    </span>
                                    <span class="error-message"></span>
                                </div><!-- / controls -->
                            </div><!-- /simform-inner -->
                            <span class="final-message"></span>
                        </form><!-- /simform -->
                </div>
            </div>
            <div>
                <span id="reduced_link_container" class="transition"><a id="reduce_mail_load" class="link join-button" href="/reduce_mail_load?ea_id={{ea_id}}">Send me mail less frequently</a> (you will be sent mail once a month, at most)</span>
                <div id="reduced_message" class="transition">
                    You will be sent mail less frequently from now on, thanks for sticking with us.
                </div>
            </div>

        </span>
	</header>	

{% endblock %}

{% block companies %}
{% endblock %}

{% block join %}
{% endblock %}

{% block script %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">

    $("body").on("click", "#change_email", function(e){
            e.preventDefault();
            var $this = $(this);
            if ($this.hasClass("closed")){
                $("#change_email_container").css("height", "280px");
                $this.removeClass("closed");
                $this.addClass("open");
            }else if ($this.hasClass("open")){
                $("#change_email_container").css("height", "0px");
                $this.removeClass("open");
                $this.addClass("closed");
            }else {
                $("#change_email_container").css("height", "280px");
                $this.addClass("open");
            };
        });

    var change_mail_form = document.getElementById( 'ea_change_form' );
                    //disable form autocomplete
                    change_mail_form.setAttribute( "autocomplete", "off" );

        new stepsForm( change_mail_form, {
            onSubmit : function( form ) {
                // hide form
                classie.addClass( change_mail_form.querySelector( '.simform-inner' ), 'hide' );

                var data = {
                    "ea_new": $("#ea_new").val(),
                    "ea_id": $("#ea_id").val()
                }

                function success(data){
                    if (data["changed"] == "yes"){}
                        var messageEl = change_mail_form.querySelector( '.final-message' );
                        messageEl.innerHTML = 'Your email has been changed';
                        classie.addClass( messageEl, 'show' );
                        $("#ea_new").val("");
                };

                $.ajax({
                    type: "post",
                    data: data,
                    url: '/change_email_early_adopter',
                    success: success
                }).fail(function(e){
                    alert("error - add startup");
                });

            }
        } );

    $("body").on("click", "#reduce_mail_load", function(e){
        e.preventDefault();

        var action = $(this).attr("href");

        function success(data){
            if(data["reduced"] == "yes"){
                $("#reduced_message").css("height", "40px");
                $("#reduced_link_container").css("height", "0px");
            }
        };

        var data = {};
        
        $.ajax({
            type: "get",
            data: data,
            url: action,
            success: success
        }).fail(function(e){
            alert("error - reducing mail load");
        });

    });

</script>

{% endblock %}